<h1>LETS GENERATE</h1>

<div id="body-container">
  <form action="/trips">
    <label>Enter Trip Length(in days):</label>
    <input type="text" name= "numOfDays">
    <br>
    <br>
    <label>What Kind Of Trip Is It:</label>
    <input list="trip">
      <datalist id="trip">
        <option value="Leisure">
        <option value="Buisness">
        <option value="Exploreration">
        <option value="Family">
      </datalist>
      <br>
      <br>
    <input type="submit" value="Start Trippin'">
  </form>
</div>
