body{
  /*display: inline-block;*/
  background-color: cadetblue;
  min-width: 1152px;
}

.single-day{
  display: inline-block;
  vertical-align: top;
  text-align: center;
  width: 330px;
}

.content{
  background-color: sandybrown;
  border: 5px solid gray;
  margin-top: 5px;
  border-radius: 10px 10px;
}

h1 {
  text-align: center;
}

#body-container{
  width: 100%;
  display: inline-block;
  overflow-x: auto;
}

#home-content{
  position: relative;
  text-align: center;
  top: 50px;
}

.address{
  font-size: .70em;
}

#inner-body-container{
  float: left;
  margin-right: -999em;
}
